.promo {
    position: relative;
    top: -75px;
    margin: 0px auto;
    width: 1200px;
    height: 645px;
    background: radial-gradient(81.65% 96.53% at 100% 100%, #A481E8 0%, rgba(164, 129, 232, 0.00) 100%), #6E44D9;
    border-radius: 0px 0px 40px 40px;
    z-index: 1;

    &__wrapper {
        position: absolute;
        top: 155px;
        left: 40px;
        width: 666px;
        height: 350px;
    }

    &__title {
        color: white;
        font-size: 50px;
    }

    &__subtitle {
        margin-top: 35px;
        color: white;
        font-size: 25px;
        font-weight: 500;
    }

    &__btn {
        margin-top: 35px;
        cursor: pointer;
        width: 214px;
        height: 42px;
        border-radius: 4px;
        background-color: #ffffff;
        border: none;
        font-size: 16px;
        font-weight: 400;
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 550px;
        height: 496px;
    }


}