@import "../../styles/mixins.scss";
.issueCardPage {
  @include pageBackgroung;
  &_wrapper {
    @include pageWrapper;
    &-header {
      @include pageHeader;
      a {
        color: white;
        text-decoration: none;
      }
    }
    h3 {
      color: white;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &_money-currency,
  &_money-system {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
  }
}
@media (max-width: 730px) {
  .issueCardPage {
    &_wrapper {
      padding: 0 18px;
    }
  }
}
