.loginPage {
    width: 100%;
    height: 100vh;
    background-color: #291044;

    &_back {

        font-size: 15px;
        text-decoration: none;
        color: #020222b3;
        line-height: 15px;

        svg {
            margin-bottom: 3px;
        }

    }

    &_wrapper {
        margin: 0 auto;
        max-width: 1200px;
        // height: 100vh;
        max-width: 1200px;
        min-height: 645px;
        background: radial-gradient(81.65% 96.53% at 100% 100%, #A481E8 0%, rgba(164, 129, 232, 0.00) 100%), #6E44D9;
        border-radius: 0px 0px 40px 40px;

        // background: radial-gradient(81.65% 96.53% at 100% 100%, #A481E8 0%, rgba(164, 129, 232, 0) 100%), #6E44D9;
        &-header {
            height: 75px;
            padding: 0 48px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            // width: 133px;
            // height: 42px;
            // margin-right: 10px;
            // background: padding-box, rgba(255, 255, 255, 0);
            // border: 1px solid rgba(255, 255, 255, 0.5);
            // border-radius: 10px;
            // transition: .3s all;
            button {
                display: block;
                width: 133px;
                height: 42px;
                background: padding-box, rgba(255, 255, 255, 0);
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                transition: .3s all;
                font-size: 15px;
                font-weight: 600;
                color: #ffffff;
                transition: .3s all;

                a {
                    font-size: 15px;
                }

                & :hover {
                    background: padding-box, rgba(255, 255, 255, 0.849);
                    color: #702ff4;
                    transition: .3s all;
                    border-radius: 10px;
                    border: none;
                    font-size: 15px;
                }

            }

            a {
                display: block;
                text-decoration: none;
                cursor: pointer;
                font-size: 18px;
                font-weight: 600;
                color: white;
                line-height: 42px;
                transition: .3s all;
                width: 133px;
                height: 42px;

                // &:first-of-type {
                //     font-size: 18px;
                //     font-weight: 700;
                // }

            }

            // &:hover {
            //     background: padding-box, rgb(255, 255, 255);
            //     filter: brightness(0.95);
            //     transition: .3s all;

            //     a {
            //         color: #702ff4;
            //         transition: .3s all;
            //     }

            // }

            // a {

            //     &:first-of-type {
            //         font-size: 18px;
            //         font-weight: 700;
            //     }

            //     button {
            //         display: block;
            //     }
            // }

        }
    }

    &_form_wrapper {
        max-width: 656px;
        margin: 40px auto;

        a {
            color: #ffffff;
        }

        h2 {
            color: #ffffff;
            font-size: 32px;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    &_form {
        // margin: 0 auto;
        // background-color: #fff;
        // border-radius: 20px;
        max-width: 450px;
        // height: 200px;
        // border: 2px solid rgba(88, 81, 107, 0.986);
        // box-shadow: 0px 0px 15px 0px rgba(92, 86, 141, 0.788);

        input {
            width: 100%;
            border-radius: 12px;
            border: 2px solid rgba(0, 0, 0, 0.103);
            height: 42px;
            padding: 0 14px;
            font-size: 15px;
            margin: 10px 0;
        }


    }

    &_error {
        font-size: 14px;
        color: rgb(240, 0, 0);
    }

    &_button {
        background-color: rgb(255, 255, 255);
        border: none;
        // color: white;
        color: #6E44D9;
        font-weight: 600;
        width: 92px;
        height: 42px;
        font-size: 16px;
        line-height: 12px;
        border-radius: 12px;
        margin-top: 10px;
        transition: .3s all;

        &:hover {
            // background-color: #6E44D9;
            // color: rgb(255, 255, 255);
            transition: .3s all;
        }

        // &.loading {
        //     background-color: rgb(244, 47, 47);
        // }
    }
}

@media(max-width: 1300px) {}

@media(max-width: 1180px) {}

@media(max-width: 992px) {}

@media(max-width: 768px) {
    .loginPage {
        &_form_wrapper {
            padding: 0 40px;
        }

        &_wrapper {
            &-header {
                padding: 0 40px;
            }
        }
    }
}

@media(max-width: 576px) {}

@media(max-width: 429px) {}

@media(max-width: 391px) {}