.overview {
    color: white;
    max-width: 1200px;
    margin: 50px auto;

    h4 {
        margin-left: 10px;
        font-size: 42px;
        margin-bottom: 50px;
    }

    &_list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
            max-width: 350px;
            height: 350px;
            padding: 0 20px 40px 20px;
            background-color: #341F62;
            box-sizing: border-box;
            border-radius: 20px;
            border: 2px solid rgba(201, 182, 255, 0.20);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            img {
                display: block;
                align-self: flex-start;
                width: 100%;
            }

            h6 {
                font-size: 24px;
                font-weight: 700;

            }

            div {
                font-size: 17px;
                line-height: 20px;
            }
        }
    }
}

@media(max-width: 1300px) {}

@media(max-width: 1180px) {
    .overview {
        &_list {
            &-item {
                margin: 0 5px;
            }
        }
    }
}

@media(max-width: 992px) {
    .overview {
        &_list {
            flex-direction: column;

            &-item {
                margin: 10px 5px;
                max-width: 90%;

                img {
                    width: 50%;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .overview {
        &_list {


            &-item {


                img {
                    width: 100%;

                }
            }
        }
    }
}

@media(max-width: 576px) {}

@media(max-width: 429px) {}

@media(max-width: 391px) {}