.header {
    position: relative;
    height: 75px;
    background-color: #ffffff00;
    transition: .3s all;
    z-index: 3;
    width: 100%;

    &__wrapper {
        position: relative;
        max-width: 1200px;
        height: 100%;
        padding: 0 25px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: #702ff4;
        // background-color: rgb(255, 255, 255);
        z-index: 11;
        transition: .3s all;
    }

    &__logo {
        width: 107px;
        margin-left: 20px;

        a {
            display: block;
            font-size: 18px;
            font-weight: 700;
            color: rgb(255, 255, 255);
            text-decoration: none;
            line-height: 75px;

            span {
                transition: .3s all;
            }
        }
    }

    &__links {
        position: relative;
        margin-right: auto;
        margin-left: 15px;
        font-size: 16px;
        font-weight: 500;
        z-index: 3;

        &_bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 0;
            background-color: rgba(255, 255, 255, 0);
            transition: .3s all;
        }

        span {
            position: relative;
            margin-left: 25px;
            line-height: 75px;
            cursor: pointer;
            color: rgb(255, 255, 255);
            transition: .3s all;
            z-index: 5;

            &:hover {
                color: #000000;
                transition: .4s all;

                svg {
                    // fill: rgb(0, 0, 0);
                    transform: rotate(180deg);
                    transition: .3s all;
                }
            }

            // &:hover ~ .header__links_bg {
            //     background-color: rgb(255, 255, 255);
            // }


            svg {
                width: 16px;
                height: 16px;
                // fill: rgb(255, 255, 255);
                margin-left: 4px;
                vertical-align: middle;
                transition: .3s all;
            }

        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btn_reg {
        width: 133px;
        height: 42px;
        margin-right: 10px;
        background: padding-box, rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        transition: .3s all;

        a {
            display: block;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            color: white;
            line-height: 42px;
            transition: .3s all;
        }

        &:hover {
            background: padding-box, rgb(255, 255, 255);
            filter: brightness(0.95);
            transition: .3s all;

            a {
                color: #702ff4;
                transition: .3s all;
            }

        }
    }

    &__btn_log {
        display: block;
        margin-right: 30px;
        width: 80px;
        height: 42px;
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 10px;
        transition: .3s all;

        a {
            display: block;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            color: #702ff4;
            line-height: 42px;
            transition: .3s all;
        }

        &:hover {
            filter: brightness(0.95);
            transition: .3s all;
        }
    }

    &__burger {
        width: 18px;
        height: 16px;
        display: none;
        flex-direction: column;
        justify-content: space-between;


        div {
            width: 100%;
            height: 2px;
            background-color: rgb(255, 255, 255);
            transition: .3s all;
        }
    }

    &__burger.active {
        transition: .3s all;
        margin-bottom: 2px;
        transition: .3s all;

        div#burger_1 {
            transform: rotate(45deg) translateY(6px) translateX(4px);
            background-color: black;
        }

        div#burger_2 {
            display: none;
        }

        div#burger_3 {
            transform: rotate(-45deg) translateY(-6px) translateX(4px);
            background-color: black;
        }
    }
}


@media(max-width: 1300px) {}

@media(max-width: 1180px) {}

@media(max-width: 992px) {
    .header {
        // &__burger {
        //     display: none;
        // }
        &__wrapper {
            padding: 0 15px;
        }
    }
}

@media(max-width: 768px) {

    .header {
        &__btn_reg {
            display: none;
        }

        &__links {
            display: none;
        }

        &__btns {
            margin-right: 0px;
            margin-left: auto;
        }
        &__burger {
            display: flex;
        }
    }
}

@media(max-width: 576px) {}

@media(max-width: 429px) {}

@media(max-width: 391px) {}